@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

:root {
  --prism-font-family: var(--font-family-mono);
  --prism-font-size: 0.85rem;
}

html:not(.dark) {
  --prism-foreground: #393a34;
  --prism-background: #fdf6e3;
  --prism-inline-background: #f5f5f5;
  --prism-comment: #93a1a1;
  --prism-string: #bd6543;
  --prism-literal: #2f8a89;
  --prism-number: #2363ec;
  --prism-keyword: #1e76db;
  --prism-function: #8f46ac;
  --prism-operator: #989898;
  --prism-boolean: #1c6b48;
  --prism-constant: #a65e2b;
  --prism-deleted: #ec7e85;
  --prism-class: #2993a3;
  --prism-builtin: #ab5959;
  --prism-property: #b58451;
  --prism-namespace: #b05a78;
  --prism-punctuation: #8e8f8b;
  --prism-decorator: #941e67;
  --prism-regex: #42a53e;
  --prism-json-property: #698c96;
}

html.dark {
  --prism-scheme: dark;
  --prism-foreground: #d4cfbf;
  /* --prism-background: #242830; */
  --prism-background: #20242d;
  --prism-comment: #5e717c;
  --prism-string: #85996b;
  --prism-literal: #429988;
  --prism-keyword: #f92672;
  --prism-boolean: #1c6b48;
  --prism-number: #6394bf;
  --prism-variable: #f1d96e;
  --prism-function: #da8627;
  --prism-deleted: #bc6066;
  --prism-class: #54b1bf;
  --prism-builtin: #e0a569;
  --prism-property: #5fbdbd;
  --prism-namespace: #db889a;
  --prism-punctuation: #887f5c;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ae81ff;
  --prism-json-property: #71beeb;
  --prism-constant: #83c971;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444;
  --prism-inline-background: theme('colors.dark.300');
}

/* Overrides */

:not(pre) > code {
  background: var(--prism-inline-background);
  padding: 1px 6px;
  border-radius: 3px;
}

.token[class*='language-']::before {
  display: none;
}

a > code {
  color: var(--c-brand-dark);
}

div[class*='language-'] {
  position: relative;
}

div[class*='language-'] pre {
  margin: 0;
  z-index: 1;
  overflow: auto;
  padding: var(--prism-block-padding-y) 0;
}

div[class*='language-'] code {
  font-size: var(--prism-font-size);
  font-family: var(--prism-font-family);
}

/* Line highlighting */

.highlight-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: var(--prism-block-padding-y) 0;
  width: 100%;
  line-height: var(--prism-line-height);
  font-family: var(--prism-font-family);
  font-size: var(--prism-font-size);
  user-select: none;
  overflow: hidden;
  z-index: -1;
}

.highlight-lines .highlighted {
  background-color: var(--prism-line-highlight-background);
}
